* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* header */
.main-header {
    background-color: rgb(250, 252, 252);
    border-bottom: solid 1px rgb(223, 226, 225);
    padding: 3.3936651583710407vh 0.5927682276229994vw 0.3393665158371041vh 0.5927682276229994vw;
}

.nav {
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.nav li {
    display: inline;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding-left: 1.1855364552459988vw;
}

.nav a {
    display: inline-block;
    padding: 1.3574660633484164vh 0.6520450503852994vw;
    color: rgb(165, 162, 167);
    text-decoration: none;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: min(1.583710407239819vh, 0.8588957055214724vw);
    font-weight: bold;
}

li a:hover:not(.active) {
    color: black;
    background-color: #ddd;
}

.nav .active {
    color: black;
    background-color: rgb(250, 243, 233);
    text-decoration: solid underline rgb(213, 123, 40) 2px;
}

/* upload-record section */

.record-section {
    position: relative;
    width: auto;
    height: 35vh;
    margin: 3.3936651583710407vh 2.074688796680498vw 0.5656108597285068vh;
    background-color: rgb(245, 248, 247);
    border: solid 1px rgb(195, 196, 193);
    border-radius: 4px;
}

.record-section div {
    position: absolute;
    top: 45%;
    left: 40%;
}

.btn {
    padding: 0.9049773755656109vh 0.7361963190184049vw;
    border: 1px solid rgb(238, 118, 6);
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: min(1.583710407239819vh, 0.8588957055214724vw);
    font-weight: 500;
    cursor: pointer;
}

.white-btn {
    color: rgb(238, 118, 6);
    background-color: white;
}

.orange-btn {
    color: white;
    background-color: rgb(238, 118, 6);
    letter-spacing: 0.03067484662576687vw;
}

/* stop-recording-section */
.stop-recording-section {
    position: relative;
    width: auto;
    height: 5vh;
    margin: 0 2.074688796680498vw;
    border-bottom: 1px solid rgb(237, 237, 235)
}

.stop-recording-section div {
    position: absolute;
    top: 20%;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(214, 52, 52, 0.994);
}

.stop-recording-section .checkbox-container {
    display: inline;
}

.stop-recording-section input[type=number] {
    padding: 0 0 0 0.6134969325153374vw;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
}

/* checkbox: copied from w3schools how to */
.checkbox-container {
    /* The container */
    display: block;
    position: relative;
    padding-left: 2.147239263803681vw;
    margin-bottom: 3.3936651583710407vh;
    cursor: pointer;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    /* Create a custom checkbox */
    position: absolute;
    top: 0;
    left: 0;
    height: 2.262443438914027vh;
    width: 1.2269938650306749vw;
    background-color: #eee;
    border-radius: min(0.3067484662576687vw, 0.5656108597285068vh);
    border: 1px solid black;
}

.checkbox-container:hover input~.checkmark {
    /* On mouse-over, add a grey background color */
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    /* When the checkbox is checked, add a blue background */
    background-color: #2196F3;
}

.checkmark:after {
    /* Create the checkmark/indicator (hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    /* Show the checkmark when checked */
    display: block;
}

.checkbox-container .checkmark:after {
    /* Style the checkmark/indicator */
    left: 0.29vw;
    top: 0.22624434389140272vh;
    width: 0.3067484662576687vw;
    height: 1.1312217194570136vh;
    border: solid rgb(255, 255, 255);
    border-width: 0 min(0.3393665158371041vh, 0.18404907975460122vw) min(0.3393665158371041vh, 0.18404907975460122vw) 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* play-section */
.play-section {
    display: flex;
    align-items: flex-start;
    margin: 0 2.074688796680498vw;
}

/* left-side */
.left-side {
    flex: 1;
    position: relative;
    background-color: rgb(245, 248, 245);
}

.left-side .class-checkbox {
    margin: 2.262443438914027vh 1.1855364552459988vw;
    padding-top: 6.787330316742081vh;
}

.left-side #add-class-btn {
    position: absolute;
    right: 1.2269938650306749vw;
    top: 2.262443438914027vh;
}

.left-side input[type=text] {
    position: absolute;
    width: 22vw;
    padding: 1.1312217194570136vh 0.6134969325153374vw;
    top: 8vh;
    right: 1.2269938650306749vw;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
}

#class-types {
    position: absolute;
    top: 2vh;
    left: 1vw;
    font-size: min(2.3755656108597285vh, 1.2883435582822085vw);
    font-family: Arial, Helvetica, sans-serif;
}

/* right-side */
.right-side {
    flex: 2;
}

/* title bar */
.right-side .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 245);
    margin: 2.262443438914027vh 1.2269938650306749vw 0 1.2269938650306749vw;
    height: 6vh;
}

.title span {
    padding: 0 4.149377593360996vw 0 1.1855364552459988vw;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
    font-weight: bold;
}

/* tracks */
.right-side .tracks {
    margin: 2.262443438914027vh 1.2269938650306749vw 0 1.8269938650306749vw;
}

.tracks .track {
    display: flex;
    height: 11vh;
    align-items: center;
    justify-content: flex-start;
}

/* play section */
.track .play {
    position: relative;
    background-color: rgb(247, 247, 245);
    height: 9vh;
    width: 17vw;
}

.track .play * {
    position: absolute;
}

.play .track-name {
    top: 0.696833vh;
    left: 0.6134969325153374vw;
    color: rgb(0, 0, 0);
    font-family: arial, sans-serif;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
}

.play .fa-play-circle {
    top: 3.224887vh;
    left: 0.6134969325153374vw;
    color: rgb(241, 116, 6);
    font-size: min(4.524886877828054vh, 2.4539877300613497vw);
}

.play .time {
    top: 1.583710407239819vh;
    right: 0.8588957055214724vw;
    color: rgba(0, 0, 0, 0.754);
    font-family: arial, sans-serif;
    font-size: min(1.9230769230769231vh, 1.0429447852760736vw);
    font-weight: bold;
}

/* class type select section */
.track .class-type-select {
    width: 25%;
    margin-left: 1vw;
}

.class-type-select select {
    width: 90%;
    height: 2.828054298642534vh;
    background-color: rgb(207, 209, 209);
    border-radius: 5px;
    font-size: 1.8vh;
}

/* date section */
.track .date {
    width: 25%;
    margin-left: 2vw;
}

.date span {
    color: rgba(0, 0, 0, 0.601);
    font-family: arial, sans-serif;
    font-size: min(1.8099547511312217vh, 0.9815950920245399vw);
}

/* more section */
.track .more {
    width: 15%;
    text-align: center;
}

.more .fa-ellipsis-v {
    color: rgb(131, 131, 129);
    font-size: min(2.48868778280543vh, 1.3496932515337423vw);
}

/* modal */
.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 80%);
    visibility: hidden;
}

/* close button */
.modal .close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 50%;
}

/* wrapper */
.wrapper {
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 5px;
    width: 30%;
}

.wrapper h2 {
    margin-top: 0;
    color: #333;
    font-family: arial, sans-serif;
}

.wrapper .container {
    max-height: 30%;
    overflow: auto;
}

/*form*/
.container label {
    font-family: arial, sans-serif;
    font-size: min(1.683710407239819vh, 0.9588957055214724vw);
    font-weight: bold;
}

.container input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}